body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/dice-roll.gif');
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}



h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #4ECCA3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  color: #333;
}

.dice {
  display: inline-block;
  margin: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.btn {
  font-family: 'Indie Flower', cursive;
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4ECCA3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #3AAB8E;
}

.total-box {
  background-color: #4ECCA3;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin-top: 20px;
}
